# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Custom Files
*.jpg
*.jpeg
*.png
*.webp
*.face
facedb
imgfacedb

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.egg-info/
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
test_*.xml
*.cover
*.log
*.dat
*.sqlite

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# celery
celerybeat-schedule
celerybeat.pid

# dotenv
.env
.env.*

# virtualenv
venv/
ENV/
env/
venv.bak/
env.bak/

# Spyder project settings
.spyproject

# Rope project settings
.ropeproject

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
